.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 2rem 3rem 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__right {
        .admin-access {
            display: flex;
        }
    }
}