@using InsightHub.Models
@model IEnumerable<SubareaConhecimento>

@{
    ViewData["Title"] = "Cadastro de Pesquisador";
    Layout = "_LayoutUnscoped";
}
<div class="insert-form">
    <link rel="stylesheet" href="~/admin/css/main.css" asp-append-version="true" />

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 2em;
            color: white;
        }

        h1 {
            font-size: 2.5em;
            display: flex;
            justify-content: space-around;
        }

        form {
            max-width: 400px;
            margin: auto;
            display: grid;
            justify-items: center;
        }

        label {
            display: flex;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"],
        input[type="email"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 3px black solid;
            border-radius: 10px;
        }

        button {
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        select {
            width: 100%;
            height: 80px;
            border-radius: 10px;
            top: 14px;
            right: 10px;
            background-color: transparent;
            border: 2px black solid;
        }
    </style>

    <h1>Cadastro de Pesquisador</h1>
    <br>
    <form action="/gerenciador/pesquisadores/add-form" enctype="multipart/form-data" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="Nome" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="Email">

        <label for="areaid">Área de formação:</label>
                <select id="areaid" name="areas[]" multiple>
                    @foreach (var area in Model)
                    {
                        <option value="@area.Id">@area.Nome</option>
                    }
                </select>

        <button type="submit" class="button button--add">Cadastrar</button>
    </form>
</div>