@{
    ViewData["Title"] = "Admin Pesquisadores Listagem Page";
    Layout = "_AdminLayout";
}

<div class="researchers">
    <div class="header">
        <div class="left">
            <a class="button button--back" href="/gerenciador">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e8eaed">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                </svg>
                Voltar
            </a>
            <div class="breadcrumbs">
                <a href="/gerenciador">Início</a>
                <a href="">Listagem Pesquisadores</a>
            </div>
            <div class="title">Lista de Pesquisadores</div>
        </div>
        <div class="right">
            <a class="button button--add" href="/gerenciador/pesquisadores/insert">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#e8eaed">
                    <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                </svg>
                Adicionar
            </a>
        </div>
    </div>

    <script>
        function excluirDiv(div_class) {
            // Seleciona a div pelo ID
            var divParaDeletar = document.getElementById(div_class);

            // Verifica se a div existe antes de tentar excluí-la
            if (divParaDeletar) {
                // Remove a div
                divParaDeletar.remove();
            }else{
                window.alert("Não foi possível excluir esse valor")
            }
        }
    </script>

    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Área de Formação</th>
                    <th>Email</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 10; i++)
                {
                    <tr id="row_@i">
                        <td>1</td>
                        <td>Dr. João Silva</td>
                        <td>Ciências Exatas</td>
                        <td>fisica@example.com</td>
                        <td>
                            <div class="buttons-wrapper">
                                <a href="/gerenciador/pesquisadores/edit/@i" class="button button--edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#e8eaed">
                                        <path
                                            d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z" />
                                    </svg>Editar
                                </a>
                                <a onclick="excluirDiv('row_@i')" class="button button--delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#e8eaed">
                                        <path
                                            d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" />
                                    </svg>
                                    Excluir
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <ul class="pagination">
        <li><a class="" href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#" class="active">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>
