@{
    ViewData["Title"] = "Admin Dashboard Page";
    Layout = "_AdminLayout";
}



<div class="dashboard">
    <div class="text text--white text--15 text--fw500 text--center">
        Bem-vindo(a) ao nosso dashboard! Explore os dados e obtenha insights valiosos para sua tomada de
        decisão.
    </div>
</div>
