@{
    ViewData["Title"] = "Edição de Captações de Recursos";
    Layout = "_LayoutUnscoped";
}
<div class="insert-form">
    <link rel="stylesheet" href="~/admin/css/main.css" asp-append-version="true" />
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 2em;
            color: white;
        }
        h1{
            font-size: 2.5em;
            display: flex;
            justify-content: space-around;
        }
        form {
            max-width: 400px;
            margin: auto;
            display: grid;
            justify-items: center;
        }
        label {
            display: flex;
            margin-top: 10px;
        }
        input[type="text"], input[type="date"], input[type="email"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 3px black solid;
            border-radius: 10px;
        }
        button {
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        select {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            top: 14px;
            right: 10px;
            background-color: transparent;
            border: 2px black solid;
        }

    </style>
    <script>
        function redirecionar(event) {
            event.preventDefault(); // Evita o envio padrão do formulário

            // Validar o formulário
            var form = event.target;
            if (form.checkValidity()) {
                // Se o formulário for válido, redirecionar para uma página de sucesso
                alert('Captações de Recursos editado com sucesso!');
                window.location.href = '/gerenciador/captacoes'; // Descomente e ajuste conforme necessário
            } else {
                // Caso contrário, exibir as mensagens de validação nativas
                form.reportValidity();
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var form = document.querySelector('form');
            form.addEventListener('submit', redirecionar);
        });
    </script>


        <h1>Edição de Captações de Recursos</h1>
        <br>
        <form>
             <label for="projeto_vinculado">Área do projeto:</label>
                <select id="projeto_vinculado">
                    <option value="0">Projeto 0</option>
                    <option value="1">Projeto 1</option>
                    <option value="2">Projeto 2</option>
                    <option value="3">Projeto 3</option>
                    <option value="4">Projeto 4</option>
                    <option value="5">Projeto 5</option>
                </select>

            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" required>

            <label for="tipo">Tipo:</label>
                <select id="tipo">
                    <option value="0">Financiamento</option>
                    <option value="1">Bolsas de pesquisa</option>
                    <option value="2">Mão de obra</option>
                </select>

            <label for="descricao">Descriçao:</label>
            <input type="text" id="descricao" name="descricao">

            <label for="fornecedor">Fornecedor:</label>
            <input type="text" id="fornecedor" name="fornecedor">

            <button type="submit" class="button button--add">Cadastrar</button>
        </form>
</div>