@using InsightHub.Models
@model IEnumerable<Projeto>

@{
    ViewData["Title"] = "Cadastro de Captações de Recursos";
    Layout = "_LayoutUnscoped";
}
<div class="insert-form">
    <link rel="stylesheet" href="~/admin/css/main.css" asp-append-version="true" />
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 2em;
            color: white;
        }
        h1{
            font-size: 2.5em;
            display: flex;
            justify-content: space-around;
        }
        form {
            max-width: 400px;
            margin: auto;
            display: grid;
            justify-items: center;
        }
        label {
            display: flex;
            margin-top: 10px;
        }
        input[type="text"], input[type="date"], input[type="email"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 3px black solid;
            border-radius: 10px;
        }
        button {
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        select {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            top: 14px;
            right: 10px;
            background-color: transparent;
            border: 2px black solid;
        }

    </style>

        <script>
            function mostrarSelecao() {
                // Obter o elemento select
                var select = document.getElementById("tipo");
                // Obter o valor selecionado
                var valorSelecionado = select.value;
                // Mostrar o valor selecionado em um alerta
                alert("O valor selecionado é: " + valorSelecionado);
            }
        </script>

        <h1>Cadastro de Captações de Recursos</h1>
        <br>
        <form action="/gerenciador/captacoes/add-form" enctype="multipart/form-data" method="post">
            <label for="projeto_vinculado">Área do projeto:</label>
                <select id="projeto_vinculado">
                    @foreach(var captacao in Model){
                        <option value="@captacao.Id">@captacao.Nome</option>
                    }
                </select>

            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" required>

            <label for="tipo">Tipo:</label>
                <select id="tipo" name="tipo">
                    <option value="Financiamento">Financiamento</option>
                    <option value="Bolsas de pesquisa">Bolsas de pesquisa</option>
                    <option value="Mão de obra">Mão de obra</option>
                </select>


            <label for="descricao">Descriçao:</label>
            <input type="text" id="descricao" name="descricao">

            <label for="fornecedor">Fornecedor:</label>
            <input type="text" id="fornecedor" name="fornecedor">

            <button type="submit" class="button button--add">Cadastrar</button>
        </form>
</div>