<header class="header">
    <div class="header__left">
        <a href="/" class="logo">
            <img src="/site/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="header__right">
        <div class="profile"></div>
        @* <a href="/projetos/favoritos" class="admin-access button button--black">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.05882 16C6.41177 16 5.85784 15.8042 5.39706 15.4125C4.93628 15.0208 4.70588 14.55 4.70588 14V2C4.70588 1.45 4.93628 0.979167 5.39706 0.5875C5.85784 0.195833 6.41177 0 7.05882 0H17.6471C18.2941 0 18.848 0.195833 19.3088 0.5875C19.7696 0.979167 20 1.45 20 2V14C20 14.55 19.7696 15.0208 19.3088 15.4125C18.848 15.8042 18.2941 16 17.6471 16H7.05882ZM7.05882 14H17.6471V2H7.05882V14ZM2.35294 20C1.70588 20 1.15196 19.8042 0.691177 19.4125C0.230392 19.0208 0 18.55 0 18V4H2.35294V18H15.2941V20H2.35294Z"
                    fill="#ffffff" />
            </svg>
            <div class="text text--15 text--white">PROJETOS FAVORITOS</div>
        </a> *@

        <a href="/gerenciador/login" class="admin-access button button--black">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.05882 16C6.41177 16 5.85784 15.8042 5.39706 15.4125C4.93628 15.0208 4.70588 14.55 4.70588 14V2C4.70588 1.45 4.93628 0.979167 5.39706 0.5875C5.85784 0.195833 6.41177 0 7.05882 0H17.6471C18.2941 0 18.848 0.195833 19.3088 0.5875C19.7696 0.979167 20 1.45 20 2V14C20 14.55 19.7696 15.0208 19.3088 15.4125C18.848 15.8042 18.2941 16 17.6471 16H7.05882ZM7.05882 14H17.6471V2H7.05882V14ZM2.35294 20C1.70588 20 1.15196 19.8042 0.691177 19.4125C0.230392 19.0208 0 18.55 0 18V4H2.35294V18H15.2941V20H2.35294Z"
                    fill="#ffffff" />
            </svg>
            <div class="text text--15 text--white">ACESSAR PORTAL DE ADMIN</div>
        </a>
    </div>
</header>