<header class="header">
    <div class="header__left">
        <div class="hamburger">
            <svg width="59" height="27" viewBox="0 0 59 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 2.5C0 1.11929 1.11929 0 2.5 0H47.5C48.8807 0 50 1.11929 50 2.5C50 3.88071 48.8807 5 47.5 5H2.5C1.11929 5 0 3.88071 0 2.5Z"
                    fill="black" />
                <rect y="22" width="50" height="5" rx="2.5" fill="black" />
                <rect x="9" y="11" width="50" height="5" rx="2.5" fill="black" />
            </svg>

        </div>
    </div>
    <div class="header__right">
        <div class="profile"></div>
        <a class="admin-access button button--black">
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.09365 16H3.52501L13.3436 6.225L11.9123 4.8L2.09365 14.575V16ZM0.0847168 18V13.75L13.3436 0.575C13.5445 0.391667 13.7664 0.25 14.0091 0.15C14.2518 0.05 14.5071 0 14.775 0C15.0429 0 15.3024 0.05 15.5535 0.15C15.8046 0.25 16.0222 0.4 16.2064 0.6L17.5875 2C17.7884 2.18333 17.9349 2.4 18.027 2.65C18.119 2.9 18.1651 3.15 18.1651 3.4C18.1651 3.66667 18.119 3.92083 18.027 4.1625C17.9349 4.40417 17.7884 4.625 17.5875 4.825L4.35369 18H0.0847168ZM12.6154 5.525L11.9123 4.8L13.3436 6.225L12.6154 5.525Z"
                    fill="#E8EAED" />
            </svg>
            <div class="text text--15 text--white">EDITAR CONTEÚDO</div>
        </a>
    </div>
</header>