<header>
    <nav class="navbar">
        @* <a asp-controller="Login" asp-action="Index">Entrar</a>
        <a asp-controller="Productions" asp-action="Index" asp-route="/producoes">Produções Listagem</a> *@
        <a href="/producoes">Produções</a>
    </nav>
</header>