.login {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: red;
}
.login__left {
  width: 60%;
  height: 100%;
  background: #1c8283;
}
.login__right {
  height: 100%;
  width: 40%;
  background: #E3E3E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
}
.login__right .logo {
  border-radius: 50%;
  background: #000;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.login__right .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.login__right form {
  padding: 0 10%;
  width: 100%;
}
.login__right form p,
.login__right form a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.login__right form .forgot-link {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  margin-top: -30px;
}
.login__right form input {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  appearance: none;
  outline: none;
  background: #FFF;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px;
}
.login__right form button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  appearance: none;
  outline: none;
  background: #000;
  border-radius: 10px;
  padding: 10px 30px;
  color: #FFF;
}

html {
  background-color: #1c8283;
}

.home {
  background-color: #1c8283;
}
.home .search_bar form {
  margin-top: 2%;
  padding: 0 10%;
  width: 100%;
}
.home .search_bar form p,
.home .search_bar form a {
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
}
.home .search_bar form .forgot-link {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  margin-top: -30px;
}
.home .search_bar form input {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: black;
  background: none;
  appearance: none;
  outline: none;
  background: #1c8283;
  border-radius: 25px;
  margin-bottom: 50px;
  padding: 20px;
  border: 3px solid darkgray;
}
.home .search_bar form input::placeholder {
  color: #000;
}
.home .advanced_search {
  background-color: rgb(230, 226, 219);
  border: 3px solid #000;
  border-radius: 20px;
  padding: 2%;
  margin: 2%;
  margin-top: 0px;
}
.home .advanced_search form .row {
  display: flex;
  align-items: center;
}
.home .advanced_search form .row label {
  width: fit-content;
  width: 20%;
  font-size: 80%;
  margin-bottom: 0px;
}
.home .advanced_search form .row label select {
  width: 100%;
  border: 3px solid black;
  border-radius: 25px;
  text-align: center;
  font-size: 105%;
  padding: 5%;
}
.home .advanced_search form .row label .search_button {
  border: 2px solid black;
  border-radius: 50%;
  background-color: #000;
  color: #FFF;
  background-image: "images/logo.png";
  display: block;
  height: 50px;
  width: 50px;
}
.home .detail_panels {
  display: flex;
  align-items: left;
  justify-content: center;
}
.home .detail_panels div {
  width: 30%;
  height: 500px;
  border: 2px solid black;
  border-radius: 10%;
  margin: 1%;
  display: flex;
  align-items: left;
  background-color: antiquewhite;
}
.home .detail_panels div p {
  padding: 8%;
  padding-right: 0%;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=main.css.map */
