@{
    Layout = "_Layout";
    ViewData["Title"] = "Productions List Page";
}

<section class="productions">
    <h1>Productions List Page</h1>
    <a href="/producoes/qualquer-coisa-mesmo-mesmo">Produções Detalhe</a>
</section>
