.home {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    height: fit-content;
    padding-top: 8rem;


    &__descriptions {
        padding: 10rem 10rem 5rem;

        .initial-title {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 1.6rem;
            margin: 0 auto 4rem;

            h1 {
                display: flex;
                gap: 1.5rem;
            }
        }

        .description {
            line-height: 4rem;
            text-align: center;
            width: 60vw;
            margin: 0 auto;
        }
    }

    &__search {
        margin-bottom: 8rem;

        form {
            padding: 0 8rem;

            .simple-search {
                margin-bottom: 6rem;

                h3 {
                    margin-bottom: 2rem;
                }

                .input-wrapper {
                    height: 7rem;
                    border-radius: 20rem;
                    border: 2px solid $secondary-color;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0 0 2rem;

                    label {
                        height: 100%;
                        flex: 1;
                        display: flex;
                        align-items: center;

                        input {
                            height: 100%;
                            width: 100%;
                            color: #B2B2B2;

                            &::placeholder {
                                color: #B2B2B2;
                            }
                        }
                    }

                    .btn-submit {
                        position: relative;
                        height: 100%;
                        width: 10rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        overflow: hidden;
                        gap: 1rem;
                        padding: 0;
                        transition: .3s all ease;
                        border-radius: 20rem;

                        svg {
                            width: 2.4rem;
                            height: 2.4rem;
                            position: absolute;
                            left: 3rem;
                        }

                        .label {
                            position: absolute;
                            height: fit-content;
                            width: fit-content;
                            left: 100%;
                            transform: translateX(10rem);
                            transition: .3s all ease;
                        }

                        &:hover {
                            background: #000;
                            width: 15rem;
                            transition: .3s all ease;

                            svg {
                                left: 2rem;
                            }

                            .label {
                                left: auto;
                                right: 2rem;
                                transform: translateX(0);
                                transition: .3s all ease;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }

            .advanced_search {
                h3 {
                    margin-bottom: 2rem;
                }

                .filters {
                    border-radius: 2rem;
                    background: #FFF;
                    padding: 5rem 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    .select {
                        position: relative;

                        .select-input {
                            position: relative;
                            width: 25rem;
                            height: 5rem;

                            .select-placeholder {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0 2rem;
                                width: 100%;
                                height: 100%;
                                border-radius: 20rem;
                                border: 2px solid #000000;
                                background: #FFF;
                                z-index: 1;

                                svg {
                                    transition: .3s all ease;
                                }
                            }

                            .select-options {
                                position: absolute;
                                top: 100%;
                                background: #FFF;
                                border-radius: 2rem 2rem 2rem 2rem;
                                border: 2px solid #000;
                                padding: 0 .5rem 2rem 0;
                                transform: translateY(-5rem);
                                width: calc(100% - 5rem);
                                left: 2.5rem;
                                height: 0;
                                overflow: hidden;
                                transition: .3s all ease;

                                .scroll-wrap {
                                    width: 100%;
                                    height: 100%;
                                    overflow-y: scroll;
                                    overflow-x: hidden;

                                    &::-webkit-scrollbar-track {
                                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                        border-radius: 10px;
                                        background-color: #F5F5F5;
                                    }

                                    &::-webkit-scrollbar {
                                        width: .7rem;
                                        background-color: #F5F5F5;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        border-radius: 10px;
                                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                                        background-color: #555;
                                    }

                                    .scroll {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 3rem;

                                        .radio-input {
                                            display: none;
                                        }

                                        .radio-label {
                                            width: 100%;
                                            display: flex;
                                            justify-content: start;
                                            align-items: center;
                                            gap: 1rem;
                                            font-size: 1.5rem;
                                            cursor: pointer;

                                            .label-text {
                                                white-space: nowrap;
                                                width: calc(100% - 3rem);
                                            }
                                        }

                                        .radio-button {
                                            height: 1.5rem;
                                            width: 1.5rem;
                                            border: 1px solid #000;
                                            border-radius: 50%;
                                            display: inline-block;
                                            position: relative;

                                            &::after {
                                                content: "";
                                                display: block;
                                                height: 1rem;
                                                width: 1rem;
                                                position: absolute;
                                                border-radius: 50%;
                                                top: 50%;
                                                left: 50%;
                                                transition: opacity 0.1s;
                                                transform: translate(-50%, -50%);
                                                background-color: #000;
                                                opacity: 0;
                                            }
                                        }

                                        .radio-input:checked+.radio-label .radio-button:after {
                                            opacity: 1;
                                        }
                                    }
                                }

                            }

                            &.active {

                                .select-placeholder {
                                    svg {
                                        transform: rotate(180deg);
                                        transition: .3s all ease;
                                    }
                                }

                                .select-options {
                                    height: 20rem;
                                    border-radius: 3rem 3rem 2rem 2rem;
                                    width: 100%;
                                    left: 0;
                                    padding: 7rem .5rem 2rem 2rem !important;
                                    transition: .3s all ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__last-projects {
        border-radius: 2rem 2rem 0 0;
        background: #FFF;
        padding: 5rem 8rem;

        .projects-list {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-bottom: 4rem;

            .card {
                border-radius: 2rem;
                border: 1px solid #B2B2B2;
                padding: 3rem;

                .top-row,
                .bottom-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .description {
                    width: 80%;
                    line-height: 150%;
                }

                .tags {
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    height: 2rem;

                    .tag {
                        position: relative;

                        &:not(:last-child) {
                            &:after {
                                content: '';
                                position: absolute;
                                width: 2px;
                                height: 1.5rem;
                                background: #000;
                                top: 0;
                                right: -1.5rem;
                            }
                        }
                    }
                }
            }
        }

        .button {
            width: 15rem;
            margin: 0 auto;
            justify-content: center;
        }
    }
}