@{
    Layout = "_Layout";
    ViewData["Title"] = "Productions Detail Page";
}

@section scripts {
    <script src="~/site/js/productions-detail.js" asp-append-version="true"></script>
}



<section class="production-detail">
    <div class="production-detail__banner">
        <div class="breadcrumbs text text--13 text--white text--fw400 mb-5">
            <a href="/">INÍCIO</a>
            <a href="/projetos">PRODUÇÕES</a>
            <a href="/projetos/qualquer-coisa">TÍTULO DO PROJETO</a>
        </div>
        <h4 class="text text--40 text--white text--fw600">Título do Projeto</h4>
    </div>
    <div class="production-detail__content">
        <p class="text text--15 text--black text--fw400">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Aperiam obcaecati eius porro labore tempore iusto
            magnam harum ipsam et quia earum commodi velit cum, animi voluptates fugiat ipsum, perspiciatis
            exercitationem?
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero ducimus delectus! Dicta reprehenderit
            est neque quasi, eum beatae cupiditate ab unde, adipisci, doloremque recusandae nobis tempora. Nulla,
            possimus quaerat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia itaque ullam debitis, hic architecto
            aperiam in enim consectetur nobis. Fuga harum placeat excepturi, eius vitae veniam voluptatem sunt tempora?
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consectetur distinctio nam odio aperiam
            sequi magnam harum, delectus molestiae obcaecati tempore rerum neque numquam quae perferendis nemo
            architecto totam possimus.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, commodi earum voluptatem, a culpa
            odit quas ipsum cumque harum quis temporibus placeat, modi incidunt nobis numquam amet perferendis libero
            id!
        </p>
    </div>
</section>
