@{
    Layout = "_Layout";
    ViewData["Title"] = "Researcher Detail Page";
}

@section scripts {
    <script src="~/site/js/researcher-detail.js" asp-append-version="true"></script>
}

<section class="researchers">
    <div class="researchers__banner">
        <div class="left">
            <div class="breadcrumbs text text--13 text--white text--fw400 text--toupper mb-5">
                <a href="/">INÍCIO</a>
                <a href="/busca">RESULTADO DA BUSCA</a>
                <a href="/pesquisador/@ViewBag.Pesquisador.Id">@ViewBag.Pesquisador.Nome</a>
            </div>
            <h4 class="text text--40 text--white text--fw600">@ViewBag.Pesquisador.Nome</h4>
        </div>
    </div>
    <div class="researchers__content">
        @if (ViewBag.Projetos != null)
        {
            <h3 class="text text--30 text--fw700 mb-3">Projetos do Pesquisador</h3>

            <div class="productions-carousel js-projects-carousel">

                @foreach (var project in ViewBag.Projetos)
                {
                    <div class="item">
                        <div class="text text--20 text--black text--fw700 mb-3">@project.Projeto.Nome</div>
                        <div class="text text--15 text--black text--fw400 mb-5">@project.Projeto.DescricaoCurta</div>

                        <a href="/projetos/@project.Projeto.Id" class="button button--black">
                            <div class="text text--white text--15 text--fw600">ACESSAR</div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</section>
