@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    @*Acrescentar header*@
    <div class="search_bar">
        <form action="">
            <div class="row">
                <label for="search_tool">
                    <p>Busca rápida:</p>
                    <input id="search_tool" type="text" name="search_tool" placeholder="Escreva o que você deseja buscar">
                    <span class="error"></span>
                </label>
            </div>
        </form>
    </div>

    <div class="advanced_search">
        <form action="">
                <p>Busca avançada:</p>
                <div class="row" id="filters">
                    <label for="select_1">
                        Filtro 1:
                        <select id="select_1">
                            <option value="0" disabled="True" selected="True">Selecione uma opção</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </label>


                    <label for="select_2">
                        Filtro 2:
                        <select id="select_2">
                            <option value="0" disabled="True" selected="True">Selecione uma opção</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </label>

                    <label for="select_3">
                        Filtro 3:
                        <select id="select_3">
                            <option value="0" disabled="True" selected="True">Selecione uma opção</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </label>

                    <label for="select_4">
                        Filtro 4:
                        <select id="select_4">
                            <option value="0" disabled="True" selected="True">Selecione uma opção</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </label>

                    <label for="button_1">
                        <button type="submit" class="search_button"></button>
                    </label>
                </div>
        </form>
    </div>

</section>