@{
    ViewData["Title"] = "Login Page";
    Layout = "_LayoutUnscoped";
}

<div class="login">
    <div class="login__left">
        <span>Olá,</span>
        <span>Seja</span>
        <span>Bem</span>
        <span>Vindo!</span>
    </div>
    <div class="login__right">
        <div class="logo">
            <img src="images/logo.png" alt="logo">
        </div>
        <form action="">
            <div class="row">
                <label for="email">
                    <p>E-mail *</p>
                    <input id="email" type="text" name="email" placeholder="Insira seu e-mail" required>
                    <span class="error"></span>
                </label>
            </div>
            <div class="row">
                <label for="password">
                    <p>Senha *</p>
                    <input id="password" type="password" name="password" placeholder="Insira sua senha" required>
                    <span class="error"></span>
                </label>
            </div>
            <div class="forgot-link">
                <a href="">Esqueceu a senha?</a>
            </div>
            <button class="button" type="submit">Entrar</button>
        </form>
    </div>
</div>
